.container {

    max-width: 70rem;
    margin: $l-size auto;
    background: white;
    
}

.title-expense{

  text-align: center;
  margin: $l-size auto;

}

.view-port-height {

  height: 83vh;
  
}

